<div class="modal fade addCustomer" tabindex="-1" id="addCustomer" role="dialog" data-backdrop="static"
     aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-md">
        <div class="modal-content checkout">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 id="modal-title">Add Customer</h4>
            </div>
            <style>
                .checkout i.on-off {
                    color: #ccc;
                    padding: 0;
                    border: none;
                    margin: 0 auto;
                    font-size: 24px;
                }
                .input_loader i{
                    position: absolute;
                    top: 12px;
                    margin: 0 auto;
                    color: #1292a2;
                    font-size: 13px;
                    border: none;
                    padding: 0;
                    right: 10px;
                }
                #autoComplete {
                    position: absolute;
                    z-index: 9999;
                    background-color: #fff;
                    padding: 10px;
                    list-style: none;
                    top: 35px;
                    border: 1px solid #cccccc;
                    border-radius: 4px;
                    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
                    width:100%;
                }
                #autoComplete li{
                    cursor: pointer;
                }
                #autoComplete li:not(:first-child) {
                    margin-top: 10px;
                }
                #autoComplete li:not(:last-child){
                    border-bottom: 1px solid #ddd;
                }
                #autoComplete li:hover{
                    background-color: #ddd;
                }
                #autoComplete li p {
                    margin: 5px;
                }
            </style>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <form class="form-horizontal" id="cform" name="myForm">
                            <fieldset>
                                <div class="tab-content">
                                    <div class="tab-pane fade in active" id="cus_step1">

                                        <div class="form-group">
                                            <input type="hidden" ng-model="notificationFlag">
                                            <input type="hidden" ng-model="fromRegNo">
                                            <input type="hidden" ng-model="toRegNo">
                                            <input type="hidden" ng-model="notification_id">
                                            <input type="hidden" ng-model="transaction_id">
                                            <label class="col-md-4 control-label" for="">Customer Name</label>
                                            <div class="col-md-6" style="position:relative;">
                                                <input id="CustomerName" name="CustomerName"
                                                       allowpattern="[a-z]" maxlength="125"
                                                       type="text" placeholder="Customer  Name"
                                                       ng-model="customerNameText"
                                                       ng-change="searchCustomerName(customerNameText,Hi_Conn_company_Name)"
                                                       ng-blur="hideAutoComplete()"
                                                       class="form-control input-md" autocomplete="off" required>
                                                <span style="position: relative;top: -4px;">HiConnect :</span>
                                                <span class="input_loader" ng-if="Hi_Conn_company_Name && showInputLoader">
                                                <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                                            </span>
                                                <label>
                                                    <input type="checkbox" ng-model="Hi_Conn_company_Name" style="display:none;"/>
                                                    <span ng-if="Hi_Conn_company_Name">
                                                    <i class="fa fa-toggle-on on-off" aria-hidden="true" style="color:#1292a2;"></i>
                                                </span>
                                                    <span ng-if="!Hi_Conn_company_Name">
                                                    <i class="fa fa-toggle-off on-off" aria-hidden="true"></i>
                                                </span>
                                                </label>

                                                <ul id="autoComplete" ng-if="Hi_Conn_company_Name && customerDetails.length && showAutoComplete">
                                                    <li ng-repeat="customer in customerDetails| limitTo:5" ng-click="appendCustomerDetails(customer,$index)">
                                                        <p><strong>Company: </strong> {{customer.companyname}}</p>
                                                        <p><strong>Email: </strong> {{customer.email}}</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="GSTIN">GSTIN</label>
                                            <div class="col-md-6">
                                                <input id="GSTIN" name="GSTIN"  maxlength="15" minlength="15"
                                                       ng-readonly="operation === 'Return'" alphanum-with-space
                                                       placeholder="GSTIN" ng-maxlength="maxlength"
                                                       ng-model="GSTINText"
                                                       class="form-control input-md"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="">Email</label>
                                            <div class="col-md-6">
                                                <input id="CustomerEmail" name="CustomerEmail"

                                                       ng-readonly="operation === 'Return'"
                                                       type="text" placeholder="Customer  Email"
                                                       ng-model="customerEmailText"
                                                       class="form-control input-md" ng-model="email">

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="">Contact</label>
                                            <div class="col-md-6">
                                                <input id="CustomerContact" name="CustomerContact"
                                                       ng-blur="toFixedTwo(customerContactText)"
                                                       two-digits-dec
                                                       ng-pattern="contactNo1"
                                                       ng-readonly="operation === 'Return'"
                                                       type="text" placeholder="Customer  Contact"
                                                       ng-model="customerContactText"
                                                       class="form-control input-md" required maxlength="15">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="">Address</label>
                                            <div class="col-md-6">
                                                <textarea id="CustomerAddress" name="CustomerAddress" maxlength="255"
                                                          ng-readonly="operation === 'Return'"
                                                          type="text" placeholder="Customer  Address"
                                                          ng-model="customerAddressText"
                                                          class="form-control input-md" required>
                                                </textarea>
                                            </div>
                                        </div>
                                        <!--<div class="form-group">-->
                                            <!--<label class="col-md-4 control-label" for="">Pincode</label>-->
                                            <!--<div class="col-md-6">-->
                                                <!--<input id="pincode" name="CustomerPincode" maxlength="255"-->
                                                          <!--ng-readonly="operation === 'Return'"-->
                                                          <!--type="text" placeholder="Pincode"-->
                                                          <!--ng-model="pincode"-->
                                                          <!--class="form-control input-md" required>-->
                                                <!--</input>-->
                                            <!--</div>-->
                                        <!--</div>-->

                                        <a class="btn btn-default next" href="javascript:void(0)" ng-click="next_wizard()" data-toggle="tab" data-step="2">More</a>
                                    </div>

                                    <div class="tab-pane fade" id="cus_step2">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="">Person Incharge</label>
                                            <div class="col-md-6" style="position:relative;">
                                                <input id="personIncharge" name="personIncharge"  maxlength="125"
                                                       ng-pattern="/[aA-zZ\s]$/" alpha-with-space
                                                       type="text" placeholder="PersonIncharge Name"
                                                       ng-model="personInchargeText"
                                                       class="form-control input-md" required>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="country">Country</label>
                                            <div class="col-md-6">
                                                <select id="country" name="country"
                                                        ng-model="selectedCountry" ng-change="countryState(selectedCountry); setCurrency()"
                                                        ng-options="country.countryName as country.countryName for country in countryDTOList"
                                                        class="form-control input-md">
                                                    <option value="">Select</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="currency">Currency</label>
                                            <div class="col-md-6">
                                                <select id="currency" name="currency"
                                                        ng-model="selectedCurrency"
                                                        ng-options="currency.currencyName as currency.currencyName for currency in currencyDTOList"
                                                        class="form-control input-md">
                                                    <option value="">Select</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="">State</label>
                                            <div class="col-md-6">
                                                <select id="state" name="stateName"
                                                        ng-readonly="operation === 'Return'"
                                                        ng-model="selectedState"
                                                        ng-options="state.stateName as state.stateName for state in stateDTOList"
                                                        class="form-control input-md">
                                                    <option value="">Select</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 col-sm-4 control-label" for="">Status</label>
                                            <div class="col-md-6 col-sm-6" >
                                                <select name="custStatus" id="custStatus" ng-model="custStatusText" class="form-control input-md" required>
                                                    <option value="">Select</option>
                                                    <option value="Active">Active</option>
                                                    <option value="InActive">InActive</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="bankName">Bank Name</label>
                                            <div class="col-md-6">
                                                <input id="bankName" name="bankName"
                                                       type="text" placeholder="Bank Name"
                                                       ng-model="bankNameText"
                                                       class="form-control input-md" >

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="accNo">Acc No</label>
                                            <div class="col-md-6">
                                                <input id="accNo" name="accNo"
                                                       type="text" placeholder="Account No"
                                                       ng-model="accNoText"
                                                       class="form-control input-md" required>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="PANNo">PAN No</label>
                                            <div class="col-md-6">
                                                <input id="panNumber" name="panNumber" alphanum-with-space
                                                       type="text" placeholder="PAN Number"
                                                       ng-model="panNumberText"
                                                       onblur="this.value = this.value.replace(/[^a-zA-Z 0-9\n\r.]+/g, '')"
                                                       onkeyup="this.value = this.value.replace(/[^a-zA-Z 0-9\n\r.]+/g, '');"
                                                       class="form-control input-md" required maxlength="10">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="">Bank Branch</label>
                                            <div class="col-md-6">
                                                <input id="Bankbranch" name="Bankbranch"
                                                       type="text" placeholder="Bank Branch"
                                                       ng-model="bankBranchText"
                                                       class="form-control input-md" required>
                                                </input>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="IFSC">IFSC</label>
                                            <div class="col-md-6">
                                                <input id="IFSC" name="IFSC" alphanum-with-space
                                                       type="text" placeholder="IFSC"
                                                       ng-model="IFSCText"
                                                       class="form-control input-md" required>
                                                </input>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="UIN">UIN</label>
                                            <div class="col-md-6">
                                                <input id="UIN" name="UIN"
                                                       type="text" placeholder="UIN" maxlength="15"
                                                       ng-model="UINText"
                                                       class="form-control input-md" required>
                                                </input>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="website">Website</label>
                                            <div class="col-md-6">
                                                <input id="website" name="website"
                                                       type="text" placeholder="Website"
                                                       ng-model="websiteText"
                                                       class="form-control input-md" required>
                                                </input>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 col-sm-4 control-label" for="creditTerm">CreditTerm</label>
                                            <div class="col-md-6 col-sm-6">
                                                <input id="creditTerm" name="creditTerm"
                                                       type="text" placeholder="CreditTerm" maxlength="30"
                                                       ng-model="creditTermText"
                                                       class="form-control input-md" required>
                                                </input>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 col-sm-4 control-label" for="creditLimit">CreditLimit</label>
                                            <div class="col-md-6 col-sm-6">
                                                <input id="creditLimit" name="creditLimit"
                                                       type="text" placeholder="CreditLimit" maxlength="30"
                                                       ng-model="creditLimitText"
                                                       class="form-control input-md" required>
                                                </input>
                                            </div>
                                        </div>

                                        <a class="btn btn-default back"  href="javascript:void(0)" ng-click="back_wizard()" data-toggle="tab" data-step="2">Less</a>
                                    </div>

                                </div>
                            </fieldset>
                        </form>


                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" id="submit" class="btn btn-default" data-toggle="modal" ng-disabled="isDisabled"
                        data-target=".print-me" ng-click="saveCustomer('addCustomer')">Save
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="removeCustomerDetails()"> Close</button>
            </div>
        </div>
    </div>
</div>