<div class="container cus_main_row">

    <div class="row" style="width: 85%; float: right;">
        <h2 class="pos-header-new">
            <div>Customer</div>
        </h2>
    </div>
    <div class="row inner_row_bg" style="width: 85%; float: right;">
        <div class="row">
            <div class="row" style=" padding: 8px 0px;">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="col-lg-2 col-md-2">
                                <form class="form-horizontal ng-pristine ng-valid">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <p class="input-group" style="display: block;">
                                                <input id="textinput" name="textinput" type="text"
                                                       placeholder="Search Customer" ng-model="customerSearchText"
                                                       class="form-control input-md"
                                                       ng-keyup="$event.keyCode == 13 ? getCustomerList() : null"/>
                                            </p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-lg-8 col-md-9">

                                <div class="form-group">
                                    <div class="col-sm-2">
                                        <button type="button" class="btn btn-default hi_btn" ng-click="addCustomer()">
                                            Add
                                        </button>
                                    </div>
                                    <!--<div class="col-sm-2">-->
                                        <!--<button type="button" class="btn btn-default hi_btn" ng-click="importPopup()">-->
                                            <!--Import Customer-->
                                        <!--</button>-->
                                    <!--</div>-->

                                    <div class="col-lg-2 col-md-3 col-sm-4">
                                        <button type="submit" id="colButn" class="btn btn-default" data-toggle="modal"
                                                ng-model="inactiveStatus" data-target=".print-me"
                                                ng-click="inactiveCustomer()">{{ButtonStatus}}
                                        </button>
                                    </div>
                                    <div class="col-lg-3 col-md-5 col-sm-5">
                        <span class="custom-dropdown custom-dropdown--white">
                            <select ng-model="exportsType" class="form-control " ng-change="GetValue()">
                                <option value=""> Select Type</option>
                                <option value="pdf"> Pdf</option>
                                <option value="excel"> Excel</option>
                            </select>
                        </span>
                                    </div>
                                    <div class="col-lg-2 col-md-3 col-sm-3">
                                        <div ng-if="exportsType"><a
                                                href="/pos/customerExport?val={{customerSearchText}}&type={{exportsType}}&statustype={{inactiveStatus}}">
                                            <button type="button" class="btn btn-default hi_btn">Export</button>
                                        </a>
                                        </div>
                                        <div ng-if="!exportsType">
                                            <button type="button" class="btn btn-default hi_btn">Export</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12">

                    <div class="fixed-table-container">
                        <div class="table_wrap fixed-table-container-inner">
                            <div class="header-background"></div>
                            <table data-toggle="table" id="records_tableItems" style="margin-bottom: 0px;"
                                   data-cache="false" data-height="299"
                                   class="hi_table table table-hover table-bordered table-striped table-fixed-header">
                                <thead>
                                <tr>
                                    <th data-field="cntryname">
                                        <div class="th-inner">Customer Name</div>
                                    </th>
                                    <th data-field="cntryname">
                                        <div class="th-inner">GSTIN No</div>
                                    </th>
                                    <th data-field="cntryname">
                                        <div class="th-inner">State Name</div>
                                    </th>
                                    <th data-field="cntryname">
                                        <div class="th-inner">Email</div>
                                    </th>
                                    <th data-field="cntryname">
                                        <div class="th-inner">Phone No</div>
                                    </th>
                                    <th data-field="edit">
                                        <div class="th-inner">Edit</div>
                                    </th>


                                </tr>
                                </thead>
                                <tbody id="parentTable">
                                <tr ng-repeat="customer in customerList| filter:customerSearchText">
                                    <td>{{customer.customerName}}</td>
                                    <td>{{customer.gstIn}}</td>
                                    <td>{{customer.stateName}}</td>
                                    <td>{{customer.customerEmail}}</td>
                                    <td>{{customer.customerContact}}</td>
                                    <td><a id="edit" ng-click="editCustomerPopulate(customer)" class="edit"><i
                                            class="fa fa-pencil-square-o fa-fw orange"></i></a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 pagination_">

                            <button type="button" class="btn btn-default hi_btn" ng-class="{'diabled-class': first}"
                                    ng-disabled="first"
                                    ng-click="getCustomerList('firstPage')" ng-model="first">First
                            </button>
                            <button type="button" class="btn btn-default hi_btn" ng-class="{'diabled-class': prev}"
                                    ng-disabled="prev"
                                    ng-click="getCustomerList('prevPage')" ng-model="prev">Prev
                            </button>
                            <button type="button" class="btn btn-default hi_btn" name="next" ng-disabled="next"
                                    ng-click="getCustomerList('nextPage')" value="next"
                                    ng-class="{'diabled-class': next}" ng-model="next">Next
                            </button>
                            <button type="button" class="btn btn-default hi_btn"
                                    ng-click="getCustomerList('lastPage')" ng-class="{'diabled-class': last}"
                                    ng-disabled="last"
                                    ng-model="last">Last
                            </button>
                        </div>
                        <div align="center"><span style="color: red;"></span></div>
                    </div>
                </div>

                <add-customer-modal></add-customer-modal>

                <form class="form-horizontal" id="customerDetails" method="post" ng-submit="saveItemImport()">
                    <div class="modal fade" tabindex="-1" id="import_Customer" role="dialog" data-backdrop="static"
                         aria-labelledby="mySmallModalLabel_1">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Import Customer</h4>
                                </div>
                                <a href="resource\ImportSheets\Customer.xlsx" download>Download ExcelSheet</a>
                                <div class="modal-body checkout-body">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-xs-5">
                                                <input type="file" name="myFile"
                                                       id="myFile"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-default" data-toggle="modal"
                                            ng-disabled="isDisabled">Save
                                    </button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                </body>
            </div>
        </div>
    </div>
</div>