<style>
    .modal-content{
        width:696px;
    }

    .modal-footer {
        padding: 5px;
        text-align: right;
        border-top: 1px solid #e5e5e5;
    }
    .modal-header {
        padding: 5px;
        border-bottom: 1px solid #e5e5e5;
    }
    fieldset {
        min-width: 0;
        padding: 10px;
        margin: 0;
        border: 0;
    }



</style>



<!DOCTYPE html>
<html lang="en">

<body>
<div class="container-fluid">
    <div class="container cus_main_row" >

        <div class="row">
            <h2 class="pos-header-new">
                <div>Fee</div>
            </h2>
        </div>
        <div class="row inner_row_bg">
            <div class="col-md-12 col-sm-12 col-xs-12">

                <div class="panel">
                    <div class="panel-body">
                        <div class="panel-body" style="height: 65px;">
                            <div class="col-md-4 col-lg-3 col-sm-5 col-xs-5">
                                <form class="form-horizontal ng-pristine ng-valid">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <p class="input-group" style="display: block;">
                                                <input id="search_fee" name="textinput"  type="text"
                                                       placeholder="search " ng-model="searchText" class="form-control input-md"
                                                        />
                                            </p>

                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="col-md-9 col-lg-7 col-sm-9 col-xs-7">

                                <div class="form-group">
                                    <div class="col-sm-2">
                                        <button type="button" class="btn btn-primary hi_btn"  ng-click="addFeeType()">Add</button>
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="button" class="btn btn-primary hi_btn"  ng-click="feeconfigurationList()">Back</button>
                                    </div>
                                    <div class="col-sm-1">
                                    <input type="checkbox"  id="checkboxforInActive" ng-model="checkboxForInActive" ng-init="checkboxForInActive = checkboxForInActive || false"
                                           ng-click="getFeeTypeMasterList(searchText,checkboxForInActive)"/>

                                    </div>
                                    <span style="align-content: right">InActive</span>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                               <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="fixed-table-container">
                                    <div class="table_wrapfixed-table-container-inner">
                                        <div class="header-background"></div>
                                        <table data-toggle="table" data-cache="false" data-height="299" class="hi_table table table-hover table-bordered table-striped table-fixed-header">
                                            <thead>
                                            <tr>
                                                <th data-field="cntryname">
                                                    <div class="th-inner" align="center">FeeTypeName</div>
                                                </th>
                                                <th data-field="edit">
                                                    <div class="th-inner" align="center">FeeAmount</div>
                                                </th>
                                                <th data-field="edit">
                                                    <div class="th-inner" align="center">Academic Name</div>
                                                </th>
                                                <th data-field="edit">
                                                    <div class="th-inner" align="center">Grade Name</div>
                                                </th>
                                                <th data-field="edit">
                                                    <div class="th-inner" align="center">Status</div>
                                                </th>
                                                <th data-field="edit">
                                                    <div class="th-inner" align="center">Edit</div>
                                                </th>
                                                <th data-field="edit">
                                                    <div class="th-inner" align="center">Delete</div>
                                                </th>

                                            </tr>
                                            </thead>
                                            <tbody id="parentTable">
                                            <input type="hidden" ng-model="feeTypeId" value="{{feeTypeMasterList.feeTypeId}}"/>
                                            <tr ng-repeat="fee in feeTypeMasterList|filter:searchText">
                                                <td>{{fee.feeTypeName}}</td>
                                                <td>{{fee.feeAmount|number:2}}</td>
                                                <td>{{fee.acdyrmaster.acdyrName}}</td>
                                                <td>{{fee.gradeMaster.gradeName}}</td>
                                                <td>{{fee.status}}</td>
                                                <!--<td>{{fee.primaryContactNo}}</td>-->
                                                <td><button type="button" class="btn btn-primary hi_btn"  ng-click="editFee(fee)">Edit</button></td>
                                                 <td><button type="button" class="btn btn-primary hi_btn"  ng-click="deleteFee(fee)">Delete</button></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                           <div class="modal fade Student" tabindex="-1" id="add_fee_type_master" role="dialog" data-backdrop="static"
                            aria-labelledby="mySmallModalLabel">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content checkout" width="696px">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                aria-hidden="true">&times;</span></button>
                                        <h4 id = "student-title" class="modal-title">Add Student</h4>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                <form class="form-horizontal" name="student">
                                                    <fieldset>
                                                        <div class="tab-content">
                                                            <!--<div class="tab-pane fade in active" >-->
                                                                <!--<div class="col-md-8">-->
                                                                    <div class="form-group">
                                                                        <label class="col-md-4 control-label" for="">Fee Type Name<span style="color:red;">*</span></label>
                                                                        <div class="col-md-4" style="position:relative;">
                                                                            <input id="feetypename" name="feetypename"  maxlength="32"
                                                                                   type="text" placeholder="Fee Type Name"
                                                                                   ng-model="feetypename"
                                                                                   class="form-control input-md" required>
                                                                        </div>
                                                                        <input type="checkbox"  id="checkbox" name="Installments if it is needed" ng-model="value" ng-init="value = value || false"
                                                                               ng-click="myFunction(value)"/><span style="align-content: right">Installments if it is needed</span>
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label class="col-md-4 control-label" for="">Fee Amount<span style="color:red;">*</span></label>
                                                                        <div class="col-md-4" style="position:relative;">
                                                                            <input type="text" name="feeamount"  limit-to="8"
                                                                                    placeholder="Fee Amount" num-with-space=""
                                                                                   ng-model="feeamount"
                                                                                   class="form-control input-md" required>
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label class="col-md-4 control-label" for="academic">Academic Year<span style="color:red;">*</span></label>
                                                                        <div class="col-md-4">
                                                                            <select  name="acdyrId" ng-model="acdyrId" id="acdyrId"  ng-options="academic.acdyrName as academic.acdyrName for academic in academicYearList" class="form-control input-md">
                                                                                <option value="">Select</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-md-4 control-label" for="grade">Grades<span style="color:red;">*</span></label>
                                                                        <div class="col-md-4">
                                                                            <select  name="gradeId" ng-model="gradeId" id="gradeId"  ng-options="grade.gradeName as grade.gradeName for grade in gradeList" class="form-control input-md">
                                                                                <option value="">Select</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-md-4 col-sm-4 control-label" for="">Status</label>
                                                                        <div class="col-md-4" >
                                                                            <select name="currencyStatus" id="currencyStatus" ng-model="statusText" class="form-control input-md" required>
                                                                                <option value="Active">Active</option>
                                                                                <option value="InActive">InActive</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                    </fieldset>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" ng-click="saveFeeType()">Save</button>
                                        <button type="button" class="btn btn-primary" ng-click="removeFeeType()" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>